[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
domonic = "*"

[dev-packages]
stackprinter = "*"

[requires]
python_version = "3.10"
